# Executáveis
*.exe
*.out
*.app
nivel_novato.c
nivel_mestre.c
nivel_aventureiro.c
# Arquivos de objeto
*.o
*.obj

# Arquivos de depuração
*.dSYM/
*.su
*.idb
*.pdb

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Arquivos de log
*.log
